.menuContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 5vw;
    /* background-color: rgb(15, 2, 51); */
    background-color: var(--BLACK-BG);
    /* background-color: #25395a8f; */
}

.menuScrollingWrapper {
    overflow-y: hidden;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-logo-container {
    align-items: center;
    display: flex;
    /* height: 13vw; */
    justify-content: start;
    margin: 7vh 0;
}

.menu-logo {
    max-width: 5vw;
}

.menu-logo-small {
    max-width: 70px;
}

.menuContainer_focused {
    max-width: 13vw;
}

.menuItem {
    background-color: initial;
    border: .1em solid #0000;
    border-radius: .5em;
    box-sizing: border-box;
    color: azure;
    display: flex;
    height: 5.5vh;
    margin: 1.5vh;
    padding: .5em;
    width: 3vw;
}

.menuItem span {
    display: flex;
    margin: 0 3px;
    align-items: center;
}

.menuContainer_focused .menuItem {
    width: 11vw;
}

.menuItem_focused {
    border-color: white;
}

.menuItem_focused span {
    font-weight: 700;
    stroke-width: 1px;
}

.menuItem .focusableButton_icon {
    font-size: 2vw;
}

.menuItem .focusableButton_text {
    font-size: 18px;
}