.menuContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 5em;
    /* background-color: rgb(15, 2, 51); */
    background-color: black;
    /* background-color: #25395a8f; */
}

.menuScrollingWrapper {
    overflow-y: hidden;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-logo-container{
    height: 80px;
    display: flex;
    margin: 20px 0;
    justify-content: start;
    align-items: center;
}

.menu-logo{
    max-width: 80px;
}

.menu-logo-small{
    max-width: 70px;
}

 .menuContainer_focused {
    max-width: 15em;
}
.menuItem {
    width: 3em;
    height: 3em;
    background-color: transparent;
    border-color:transparent;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 0.5em;
    margin: 0.5em;
    border-width: 0.1em;
    padding: 0.5em;
    display: flex;
    color: azure
}

.menuItem span{
    display: flex;
    margin: 0 3px;
    align-items: center;
}

 .menuContainer_focused .menuItem {
    width: 171px;
}

.menuItem_focused {
    border-color: white;
}

.menuItem_focused span{
    font-weight: 700;
    stroke-width: 1px;
}

.menuItem .focusableButton_icon {
    font-size: 30px;
}

.menuItem .focusableButton_text{
    font-size: 18px;
}