.profile-container {
  color: #fff;
  width: 100%;
  height: 100vh;
  padding: 40px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-heading {
  font-size: 24px;
  margin-bottom: 30px;
  color: #fff;
}

.profile-info p {
  font-size: 1.5vw;
  margin: 10px 0;
}

.profile-table {
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.profile-table tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-table tr {
  display: flex;
  flex: 1 1 auto;
  width: 100%;

}

.profile-table td {
  padding: 12px;
  font-size: 1.3vw;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  margin: 0 15px;
}

.profile-table td:first-child {
  color: #aaa;
  justify-content: end;
  font-weight: 700;
}

.profile-table td:first-child::after {
  content: ':';
}

.profile-btn-login {
  display: flex;
  margin: 14px;
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.profile-btn-login-focused{
  background-color: var(--THEME-RED);
}

.profile-login-container{
  justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5vw;
}

.profile-login-container img{
  display: flex;
    width: 7vw;
    margin: 1.5vw;
}

.profile-login-container span{
  display: flex;
    justify-content: center;
    font-size: 1.5vw;
}