/* Make LiveTv-Home scrollable vertically */
.LiveTv-Home {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.live-tv-header{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.live-tv-header div{
  background-color: #b7b7b7;
  border: none;
  color: white;
  display: flex;
  padding: 10px 20px;
  text-align: center;
  border-radius: 40px;
  height: 3vh;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: var(--THEME-RED);
}
