.screensaver {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.screen-saver-screen-item {
  position: absolute;
  height: 100%;
  width: 100%;
  /* opacity: 0; */
  transition: opacity 2s ease-in-out;
}

.screen-saver-screen-item.active {
  opacity: 1;
}

.screen-saver-screen-item img {
  height: 100%;
  width: 100%;
  transform: scale(1);
  transition: transform 20s ease-in-out;
}

.screen-saver-screen-item.active img {
  animation: zoomInOut 20s infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.screen-saver-info {
  position: absolute;
  bottom: 10vh;
  left: 100px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  min-width: 90%;
}

.screen-saver-info h1 {
  margin: 0;
  font-size: 3em;
  font-weight: bolder;
  position: relative;
}

.screen-saver-info h2 {
  margin: 0;
  font-size: 2.5em;
  position: relative;
  margin-top: 132px;
  height: 3vh;
}

.screen-saver-info p {
  margin: 5px 0 0;
  font-size: 1.2em;
  position: relative;
}

.screen-saver-genres {
  list-style: none;
  padding: 0;
  margin: 12px 0 10px;
  display: flex;
  position: relative;
  gap: 10px;
  font-size: 1.2em;
}

.screen-saver-genres li {
  position: relative;
}

.screen-saver-genres li.with-dot::before {
  content: '•';
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}

.screen-saver-buttons-container{
  display: flex;
  position: absolute;
  bottom: 10vh;
  left: 5vw;
}

.screen-saver-button{
  display: flex;
  margin-right: 1.5vw;
  background: #ccc;
    padding: 12px 15px;
    border-radius: 20px;
    font-size: 1.3em;
    font-weight: 700;
}

.screen-saver-button-focused{
  background-color: red;
}

.screen-saver-button-focused{
  color: white !important;
}