.credits-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  /* flex-direction: column;
  scroll-behavior: smooth; */
  padding: 1rem;
    color: white;
}

.credits-row {
height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.credits-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  /* width: 7rem; */
  margin: 1rem;
}

.credits-image {
  width: 12em;
  height: 12em;
  border-radius: 9999px;
  object-fit: cover;
  border: 1px solid #ccc;
}

.credits-name {
  margin-top: 0.5rem;
  font-size: 1em;
  text-align: center;
}

.credits-role {
  margin-top: 0.5rem;
  font-size: 1.5em;
  color: #aaa;
  text-align: center;
  font-weight: 700;
}