/* Content Row Component */

.contentRowWrapper {
  margin-bottom: 2.5em;
}

.ContentRowTitle {
  color: white;
  font-size: 1.3em;
  font-weight: 700;
  font-family: "Segoe UI";
  /* padding-left: 1em; */
  margin: 15px;
}

.ContentRowScrollingWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  flex-shrink: 1;
  flex-grow: 1;
  /* padding-left: 5em; */
  padding-right: 5em;
  will-change: transform;
  transform: translateZ(0); /* Hardware acceleration */
  display: flex;
  scroll-behavior: auto; /* Don't use native smooth */
}

.ContentRowScrollingWrapper:last-child {
  margin-right: 30px;
}

.ContentRowScrollingContent {
  display: flex;
  flex-direction: row;
}

/* Content Component */

.ContentWrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ContentRow {
  overflow-x: hidden;
  overflow-y: hidden;
  flex-shrink: 1;
  flex-grow: 1;
  margin-left: 5em;
}

/* Content With Banner */
.content-with-banner{
  display: flex;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
}