.asset-container {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

.asset-container-title {
  font-weight: 700;
  color: white;
  font-size: 1.5vw;
  display: flex;
  margin: 5px 5px 10px 15px;
  justify-content: flex-start;
  width: 100%;
  padding: 5px;
  width: 80%;
}

.asset-scrolling-wrapper {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  /* for Tizen/smooth scroll */
}

.dummyAsset_box {
  width: 15%;
  min-width: 180px;
  height: 150px;
  margin: 10px;
  border-radius: 5px;
  background-color: #ccc;
}

.error-wrapper{
  display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}