.stream-modal-overlay {
  z-index: 9999999;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stream-modal-content {
  background-color: #080808;
  color: white;
  width: 50%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.stream-modal-title {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.stream-modal-image-wrapper {
  margin-bottom: 20px;
}

.stream-modal-image {
  width: 250px;
  height: 250px;
}

.stream-modal-text.large {
  font-size: 24px;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.stream-modal-text.small {
  font-size: 18px;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.stream-modal-button-wrapper {
  display: flex;
  justify-content: center;
}

.stream-modal-button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.stream-modal-button-focused{
    border: 2px solid red;
}
