.top-banner {
    position: absolute;
    width: 100%;
    height: 61vh;
    overflow: hidden;
  }
  
  .banner-video-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .banner-video {
    width: 70%;
    left: 30%;
    position: relative;
    height: 100%;
    object-fit: cover;
    /* scale: 1.2;
    transform: scale(1.2);
    -webkit-transform: scale(1.2); */
  }

  .banner-video::cue {
    opacity: 0;
  }
  
  .banner-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding: 0 2rem;
    box-sizing: border-box;
  }
  
  .asset-info {
    color: white;
    z-index: 10;
    position: relative;
    height: 65%;
    width: 45%;
    margin-left: 50px;
  }
  
  .asset-logo {
    width: 200px;
    margin-bottom: 1rem;
  }
  
  .asset-title {
    font-size: 2rem;
    margin: 0;
  }
  
  .asset-description {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #ccc;
  }

  .banner-video,
.banner-video-container img {
  transition: opacity cubic-bezier(0.39, 0.575, 0.565, 1);
  opacity: 1;
}

.banner-video.fade-out,
.banner-video-container img.fade-out {
  opacity: 0;
}
  
  .asset-buttons {
    margin-top: 1rem;
    max-width: 300px;
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    }
  
  .play-btn,
  .trailer-btn {
    background-color: #979797c9;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    max-width: 100px;
  }
  
  .play-btn-focus,
  .trailer-btn-focus {
    background-color: rgba(255, 0, 0, 0.768);
    border-color: azure;
  }
  
  .banner-gradient{
    width: 100%;
    border-bottom-left-radius: 20%;
    top: -10px;
    background-color: #000000;
    left: 10%;
    position: relative;
    height: 60vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(251, 250, 250, 0));
    /* scale: 1.2;
    transform: scale(1.2);
    -webkit-transform: scale(1.2); */
  }

  .title {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
  }
  
  .tags span {
    margin-right: 10px;
    background: #333;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.9rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }

  .tags span i{
    margin: 0 3px 0 0; 
    display: flex;
  }
  
  .description {
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: 400;
    margin: 1em 0;
    margin: 1em 0;
    text-overflow: ellipsis;
    text-wrap: wrap;
    overflow: hidden;
  }
  
  .genres {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
  }
  
  .genre {
    background: #4a4747;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 700;
    margin-right: 8px;
  }

  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 10%;
    /* background-color: red; */
  }

  .overlay-ltr {
    background: 
      linear-gradient(178.5deg,
        rgba(var(--debug-color), 0) 57.9%,
        rgba(var(--debug-color), 0) 64.8%,
        rgba(var(--debug-color), 0.8) 77.56%,
        rgba(var(--debug-color), 1) 96.94%),
      linear-gradient(90deg,
        rgba(var(--debug-color), 1) 0%,
        rgba(var(--debug-color), 0.9) 20.15%,
        rgba(var(--debug-color), 0.7) 25.52%,
        rgba(var(--debug-color), 0.6) 35.81%,
        rgba(var(--debug-color), 0.5) 45.08%,
        rgba(var(--debug-color), 0) 65.1%),
      linear-gradient(147deg, 
        rgba(var(--debug-color), 1) 0%,
        rgba(var(--debug-color), 0.9) 5.15%,
        rgba(var(--debug-color), 0.7) 10.52%,
        rgba(var(--debug-color), 0.5) 15.52%,
      transparent);;
  }
  
  .overlay-rtl {
    background: 
      linear-gradient(178.5deg,
        rgba(16, 14, 17, 0) 57.9%,
        rgba(16, 14, 17, 0) 64.8%,
        rgba(16, 14, 17, 0.05) 67.56%,
        rgba(16, 14, 17, 1) 96.94%),
      linear-gradient(270deg,
        rgba(16, 14, 17, 1) 0%,
        rgba(16, 14, 17, 0.9) 16.15%,
        rgba(16, 14, 17, 0.7) 25.52%,
        rgba(16, 14, 17, 0.6) 32.81%,
        rgba(16, 14, 17, 0.5) 52.08%,
        rgba(16, 14, 17, 0) 65.1%);
  }

  .overlay-bottom-gradient {
    background: linear-gradient(
      180deg,
      rgba(16, 14, 17, 0) 0%,
      rgba(16, 14, 17, 1) 100%
    );
  }

  .fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }