.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background: #121212; */
    color: #fff;
    padding: 1rem;
    background: linear-gradient(115deg, #585656, #010101);
  }

  .otp-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
  }

  .logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%
    }

  .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0, -50%);
  }

  
  .image-container img{
    max-width: 15rem;

  }

  .info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-container p{
    font-weight: 500;
    margin: 0.1em;
    width: 100%;
    font-size: 1.3rem;
  }

  
  .login-title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .otp-group {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .otp-input {
    width: 3rem;
    height: 3.5rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #ccc;
    background: #1e1e1e;
    color: #fff;
    outline: none;
    margin-left: 1rem;
  }
  
  .alert-msg {
    color: salmon;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    height: 1rem;
  }
  
  .keypad {
    display: grid;
    grid-template-columns: repeat(3, 4rem);
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .keypad-key {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #333;
    color: #fff;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
  }

  .keypad-key-focus {
    border-color: azure !important;
  }
  
  .submit-button {
    background-color: #2979ff;
    font-size: 1.2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logout-button {
    margin-top: 20px;
    width: 10em;
    height: 2em;
    border-radius: 0.5em;
    background-color: #a12626;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
  }
  
  .submit-button.disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  