:root {
  --debug-color: 0, 0, 0;
  --BTN-WHITE1: #fff;
  --BTN-WHITE2: hsla(0, 0%, 100%, 0.84);
  --BTN-WHITE3: hsla(0, 0%, 100%, 0.6);
  --BTN-WHITE4: hsla(0, 0%, 100%, 0.32);
  --THEME-RED:#E53935;
  --BLACK-BG: #080808;
  --BUTTON1-SEMIBOLD-WEIGHT: 600;
  --BUTTON1-SEMIBOLD-HEIGHT: 28px;
  --BUTTON1-SEMIBOLD-SIZE: 1.2vw;
  --BUTTON1-MEDIUM-WEIGHT: 500;
  --BUTTON1-MEDIUM-HEIGHT: 28px;
  --BUTTON1-MEDIUM-SIZE: 1.2vw;
  --BUTTON2-SEMIBOLD-WEIGHT: 600;
  --BUTTON2-SEMIBOLD-HEIGHT: 24px;
  --BUTTON2-SEMIBOLD-SIZE: 1.1vw;
  --BUTTON2-MEDIUM-WEIGHT: 500;
  --BUTTON2-MEDIUM-HEIGHT: 24px;
  --BUTTON2-MEDIUM-SIZE: 1.1vw;
  --BUTTON3-SEMIBOLD-WEIGHT: 600;
  --BUTTON3-SEMIBOLD-HEIGHT: 20px;
  --BUTTON3-SEMIBOLD-SIZE: 1vw;
  --BUTTON3-MEDIUM-WEIGHT: 500;
  --BUTTON3-MEDIUM-HEIGHT: 20px;
  --BUTTON3-MEDIUM-SIZE: 1vw;
  --BUTTON4-SEMIBOLD-WEIGHT: 600;
  --BUTTON4-SEMIBOLD-HEIGHT: 16px;
  --BUTTON4-SEMIBOLD-SIZE: 1vw;
  --BUTTON4-SEMIBOLD-SPACING: 0.2px;
  --BUTTON4-MEDIUM-WEIGHT: 500;
  --BUTTON4-MEDIUM-HEIGHT: 1.1vw;
  --BUTTON4-MEDIUM-SIZE: 12px;
  --BUTTON4-MEDIUM-SPACING: 0.2px;
}

.App {
  display: flex;
  background-color: var(--BLACK-BG);
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.loading-splash-screen{
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading-splash-screen div{
  margin-top: 3vh;
  color: white;
  font-size: 1.5vw;
}

.loading {
  justify-self: center;
  align-self: center;
  color: white;
  /* width: 100%; */
  text-align: center;
  font-size: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
