:root{
    --playBtnContainerHeight:40%;
    --maxPlayBtnContainerHeight: 8vh; 
}
.liveTvChannelContainer{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    
}

.liveTvChannelScheduleContent .ContentRow .contentRowWrapper .ContentRowTitle{
    background-color: red;
    display: inline-flex;
    align-items: center;
    padding: 0.2em 1em;
    border-radius: 27px;
    font-size: 1.1vw;
}

.channelTopWrapper{
    background-color: transparent;
    display: flex;
    height: 24vh;
    margin: 15vh 0 1vh 0;
    position: relative;
    /* background-color: yellow; */
}

.channelImageWrapper{
    background-color: transparent;
    width: 20%;
    max-width: 20vw;
    min-width: 20vw;
    height: 100%;
    margin: 0 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index:1;
    /* background-color: aqua; */
}

.channelImageWrapper img{
    width: auto;
    height: auto;
    object-fit: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: -50px;
}

.playButtonContainer{
    display: flex;
    height: var(--playBtnContainerHeight);
    max-height: var(--maxPlayBtnContainerHeight);
    justify-content: flex-start;
    align-items: center;
}

.channelInformationContainer{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    z-index: 1;
}

.playBtnLiveTvChannel{
    background-color: #b7b7b7;
  border: none;
  color: white;
  display: flex;
  padding: 10px 20px;
  text-align: center;
  border-radius: 40px;
  height: 3vh;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  width: 100px
}

.playBtnLiveTvChannel-focused{
    background-color: red;
}

.channelInformationWrapper{
    display: flex;
    flex: 1 1 auto;
    background-color: transparent;
    flex-direction: column;
    overflow: hidden;
}

.channelInfoTitle{
    color: white;
    font-size: 1.3vw;
    font-weight: 700;
    padding: 0.5em 0;
}

.channelInfoDescription p{
    color: white;
    font-size: 1.1vw;
    font-weight: 300;
    margin: 0;
}

.playInfoBand{
    display: flex;
    position: absolute;
    flex: 1 1 auto;
    width: 100%;
    height: var(--playBtnContainerHeight);
    max-height: var(--maxPlayBtnContainerHeight);
    background-color: #ddd;
    z-index: 0;
}

.channelScheduleContainer{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.scheduleWrapper{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: beige;
}