.tabbedContent-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  /* overflow: hidden; */
  padding: 10px;
  height: 100%;
}

  .tabbedContent-tabs-wrapper{
  height: 80px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  }

  .tabbedContent-tab{
    display: flex;
    font-weight: 700;
    margin: 10px;
    font-size: 1.5vw;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    padding: 8px;
    border-radius: 4px;
    color: white;
    justify-content: center;
    align-items: center;
  }

  .tabbedContent-tab span{
    color: var(--BTN-WHITE3);
    font-weight: var(--BUTTON1-MEDIUM-WEIGHT);
    line-height: var(--BUTTON1-MEDIUM-HEIGHT);
    /* font-size: 26px; */
  }

  .tabbedContent-tab-focused{
    border-color: white;
  }

  .tab-active span{
    color: var(--BTN-WHITE1);
    font-weight: var(--BUTTON1-SEMIBOLD-WEIGHT);
    line-height: var(--BUTTON1-SEMIBOLD-HEIGHT);
  }

  .tabbedContent-window-slider-wrapper {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    /* overflow: hidden; */
  }
  
  .tabbedContent-window-slider {
    overflow: hidden;
    height: 90%;

  }
  
  .tabbedContent-tab-detail {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* overflow: hidden; */
    padding: 0 0 1rem 0;
  }